@import "tailwindcss" source("../../../../crates");

@import "tailwindcss-radix-colors/dist/orange-colors-only.css";
@import "tailwindcss-radix-colors/dist/sand-colors-only.css";
@import "tailwindcss-radix-colors/dist/yellow-colors-only.css";
@import "tailwindcss-radix-colors/dist/red-colors-only.css";

@import "./theme/colors.css";
@import "./theme/colors-dark.css";

@import "./components/btn.css";
@import "./components/btn-link.css";
@import "./components/input-field.css";
@import "./components/table.css";
@import "./components/text-link.css";

@import "./elevation.css";
@import "./typography.css";
@import "./utilities.css";

@theme {
  /* fonts */
  --font-sans: Funnel Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: Funnel Display, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* disable larger breakpoints */
  --breakpoint-2xl: initial;

  /* shadows, taken from orbit (roughly) */
  --shadow-elevation-lv1:
    rgba(79, 94, 113, 0.1) 0px 8px 24px -5px,
    rgba(79, 94, 113, 0.12) 0px 5px 16px -3px,
    rgba(79, 94, 113, 0.12) 0px 1px 4px 0px,
    rgba(41, 47, 55, 0.3) 0px 0px 1px 0px;
  --shadow-elevation-lv2:
    rgba(79, 94, 113, 0.1) 0px 8px 24px -5px,
    rgba(79, 94, 113, 0.12) 0px 5px 16px -3px,
    rgba(79, 94, 113, 0.12) 0px 1px 4px 0px,
    rgba(41, 47, 55, 0.3) 0px 0px 1px 0px;
  --shadow-elevation-navbar:
    rgba(27, 50, 73, 0.08) 0px 2px 12px 0px;

  /* animations */
  --animate-fade-in: fade-in 0.15s linear;
  --animate-fade-out: fade-out 0.15s linear;
  --animate-fade-down: fade-down 0.10s linear;

  /* custom grid template columns */
  --form-grid-cols: calc(48 * var(--spacing)) minmax(0, 1fr)
}

@utility grid-cols-form {
  grid-template-columns: var(--form-grid-cols);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@layer base {
  leptos-island {
    display: contents;
  }
  leptos-children {
    display: contents;
  }
}
