@import "tailwindcss";

@import "tailwindcss-radix-colors/dist/orange-colors-only.css";
@import "tailwindcss-radix-colors/dist/sand-colors-only.css";
@import "tailwindcss-radix-colors/dist/red-colors-only.css";

@import "./components/btn.css";
@import "./components/btn-link.css";
@import "./components/input-field.css";
@import "./components/table.css";
@import "./components/text-link.css";

@import "./elevation.css";
@import "./typography.css";
@import "./utilities.css";

@theme inline {
  /* set fonts */
  --font-sans: Funnel Sans, sans-serif;
  --font-display: Funnel Display, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace;

  /* animations */
  --animate-fade-in: fade-in 0.15s ease-in-out;
  --animate-fade-out: fade-out 0.15s ease-in-out;
  
  /* product colors */
  --color-product-1: var(--color-orange-1);
  --color-product-2: var(--color-orange-2);
  --color-product-3: var(--color-orange-3);
  --color-product-4: var(--color-orange-4);
  --color-product-5: var(--color-orange-5);
  --color-product-6: var(--color-orange-6);
  --color-product-7: var(--color-orange-7);
  --color-product-8: var(--color-orange-8);
  --color-product-9: var(--color-orange-9);
  --color-product-10: var(--color-orange-10);
  --color-product-11: var(--color-orange-11);
  --color-product-12: var(--color-orange-12);

  /* base colors */
  --color-base-1: var(--color-sand-1);
  --color-base-2: var(--color-sand-2);
  --color-base-3: var(--color-sand-3);
  --color-base-4: var(--color-sand-4);
  --color-base-5: var(--color-sand-5);
  --color-base-6: var(--color-sand-6);
  --color-base-7: var(--color-sand-7);
  --color-base-8: var(--color-sand-8);
  --color-base-9: var(--color-sand-9);
  --color-base-10: var(--color-sand-10);
  --color-base-11: var(--color-sand-11);
  --color-base-12: var(--color-sand-12);

  /* critical colors */
  --color-critical-1: var(--color-red-1);
  --color-critical-2: var(--color-red-2);
  --color-critical-3: var(--color-red-3);
  --color-critical-4: var(--color-red-4);
  --color-critical-5: var(--color-red-5);
  --color-critical-6: var(--color-red-6);
  --color-critical-7: var(--color-red-7);
  --color-critical-8: var(--color-red-8);
  --color-critical-9: var(--color-red-9);
  --color-critical-10: var(--color-red-10);
  --color-critical-11: var(--color-red-11);
  --color-critical-12: var(--color-red-12);

  /* disable larger breakpoints */
  /* --breakpoint-xl: initial; */
  --breakpoint-2xl: initial;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer {
  leptos-island {
    display: contents;
  }
}
