[target.wasm32-unknown-unknown]
rustflags = [
  '--cfg',
  'getrandom_backend="wasm_js"',
  '--cfg',
  'erase_components',
  '-Z',
  'threads=10',
  '-Z',
  'incremental-verify-ich',
]

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
  '-C',
  'link-arg=-fuse-ld=mold',
  '--cfg',
  'erase_components',
  '-Z',
  'threads=10',
  '-Z',
  'incremental-verify-ich',
]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = [
  '-C',
  'link-arg=-fuse-ld=mold',
  '--cfg',
  'erase_components',
  '-Z',
  'threads=10',
  '-Z',
  'incremental-verify-ich',
]
